* {
    font-family: Palatino, sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 0%;
}

.main {
    display: flex;
    flex: 1 0 0%;
}

.loading {
    display: flex;
    flex: 1 0 0%;
    justify-content: center;
    align-items: center;
}

.loading__header {
    text-align: center;
}

.controls {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 0%;
    padding: 20px 20px 0 40px;
}

.controls__a {
    margin-bottom: 10px;
    color: #004686;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
}

.controls__button {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px 0;
}

.main-content {
    display: flex;
    flex-flow: column nowrap;
    flex: 3 0 0%;
    padding: 0 20px;
}

.notifications {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    bottom: 50px;
    right: 40px;
}

.notification {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    width: 200px;
    margin-bottom: 10px;
    color: white;
}

.notification--success {
    background-color: #00bfd4;
}

.notification--warning {
    background-color: #f50c73;
}

.notification__span {
}

.notification__button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 8px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
}
